[submodule "tools/eboot_string_patcher"]
	path = tools/eboot_string_patcher
	url = https://github.com/SutandoTsukai181/eboot_string_patcher
[submodule "tools/PSN_get_pkg_info"]
	path = tools/PSN_get_pkg_info
	url = https://github.com/windsurfer1122/PSN_get_pkg_info
