pycryptodomex
cryptography
requests
aenum
fastxor
packaging
ecdsa
google-cloud-translate
pandas
openpxl
rsa>=4.7 # not directly required, pinned by Snyk to avoid a vulnerability
pandas
xmltodict
aenum
